@media (prefers-color-scheme: dark) {
  :root {
    --primary: #0099ff;
    --accent: #00aa66;
    --background: #000000;
    --background-subdued: #222222;
    --text: #ffffff;
    --text-subdued: #aaaaaa;
    --warning: #ffc800;
    --error: #ff4d00;
    --info: #00bbff;
    --success: #5ccc00;
  }
}
